#captionBackArrow {
  text-align: right;
}

#navbar {
  height: 50px;
  background-color: rgba(68, 68, 68, 0.9);
}

.w3-navbar {
  align-content: center
}

.halfImages {
  width: 300px;
  height: 200px;
  margin: auto;
}

.miniInfo {
  text-align: left;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
}


/* Full height image header */

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/tablet_pen.jpg");
  min-height: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  max-height: 350px;
  margin: auto;
}

.myCarousel {
  width: 100%;
  max-height: 350px;
}